<% include ./partials/header %>

<title>Pygmy by Techmeleon</title>
<meta name="description" content="Pygmy is Techmeleon's CMS. ">
<meta name="keywords" content="Pygmy, Techmeleon, Node CMS ">
</head>

<body id="fouc" class="body pyg">
<% include ./partials/nav %>

<div class="pyg__section">
    <% include ./sections/home.ejs %>
</div>
</body>

<% include ./partials/scriptsFooter %>