
/*     VARIABLES      */
/* ------------------ */
$color-primary: rgb(146, 208, 80);
$color-primary-light: rgb(158, 224, 88);
$color-primary-dark: rgb(130, 185, 72);
$color-primary-clear: rgb(190, 220, 161);

$color-secondary: rgb(10, 10, 10);
$color-secondary-light: rgb(47, 63, 63);
$color-secondary-dark: rgb(0, 0, 0);

$color-tertiary: rgba(224,159,61,1);
$color-tertiary-light: rgba(224,159,61,1);
$color-tertiary-dark: rgba(224,159,61,1);

$color-header: #000;
$color-background-nav: rgba(255, 255, 255,1);
$color-background-1: rgb(37,184,227);
$color-footer: #000;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #3f3f3f;
$color-grey-light: #a7a7a7;

$color-text-dark: #3f3f3f;
$color-text-light: rgb(255, 255, 255);

$color-shadow: rgba($color-black, 0.2);

$color-transparent: rgba(255,255,255,0);
$color-shine: rgba(255,255,255,.2);

$color-warnings-good: rgb(23, 173, 20);
$color-warnings-bad: rgb(175, 55, 39);
$color-products-border: rgba(black, 0);
/* ------------------ */