.footer {
    color: $color-black;

    &__top {
        background-image: linear-gradient(
                45deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url('/resources/img/footerbackground.jpg');
        background-position: center;
        background-size: cover;
        background-color: $color-white;
        padding: 4rem;
        font-size: 1.25rem;

        &__grid {
            display: grid;
            grid-column-gap: 4rem;
            grid-row-gap: 4rem;
            grid-template-columns: auto 3fr auto;

            @include respond('700') {
                grid-template-columns: 1fr;
                justify-content: center;
                justify-items: center;
                text-align: center;
                grid-row-gap: 2rem;
            }
        }
    }

    &__bottom {
        position: relative;
        background-color: $color-secondary-dark;
        padding: 1rem 5rem;
        font-size: 1.2rem;
    }

    &__image {
        width: auto;
        height: 10rem;
        justify-self: start;
    }

    &__text {
        justify-self: center;

        &__title {
            color: $color-primary-dark;
        }
    }

    &__social {
        justify-self: end;
        @include respond('700') {
            justify-self: center;
        }
    }

    &__btn {
        display: inline-block;
        margin-bottom: 0.5rem;

        & .btn__text {
            width: 15rem;
        }

        & > * {
            padding: 0.25rem 1rem;
        }
    }

    &__socials {
        max-width: 18rem;

        @include respond('700') {
            max-width: 50rem;
        }

        &__link {
            display: inline-block;
            margin-right: 0.5rem;
            font-size: 2.5rem;
            transition: all 0.2s;
            line-height: 3rem;

            @include respond('700') {
                line-height: 5rem;
                margin: 0 0.5rem;
            }

            & a {
                color: $color-black;

                &:hover,
                &:active {
                    color: $color-primary-clear;
                }

                & img {
                    width: auto;
                    height: 2rem;
                }
            }
        }
    }

    &__copyright,
    &__links {
        color: $color-white;
        padding: 0.5rem 0;

        @include respond('500') {
            text-align: center;
        }
    }

    &__link {
        color: $color-white;
        display: inline-block;

        &:not(:last-child):after {
            content: ' - ';
        }

        & a {
            &:visited,
            &:link {
                transition: all 0.2s;
                color: $color-white;
                text-decoration: none;
            }

            &:hover,
            &:active {
                color: $color-primary-clear;
            }
        }
    }

    &__accreditations {
        background-color: white;
        border-top: solid 2px $color-primary-dark;
        border-bottom: solid 2px $color-primary-dark;
        text-align: center;
    }

    &__accreditation {
        color: black;
        display: inline-block;
        margin: 2rem;

        &__image {
            height: 5rem;
            width: auto;
            transition: all 0.3s;
        }

        &:hover {
            .footer__accreditation__image {
                transform: translateY(-1px);
            }
        }
    }
}
