<a href="#contact-us" class="contactus-button"><i class="far fa-comment-alt"></i></a>

<div id="contact-us" class="popup">
    <div class="popup__box">
        <div class="popup__grid">
            <div class="popup__content popup__content--left">
                <h3>Let's Talk</h2>
                <form method="POST" action="#" class="form" id="form_contact">
                    <div class="form__group">
                        <input type="text" class="form__input" name="name" id="name" placeholder="Name*" required>
                        <label for="name" class="form__label">Name*</label>
                    </div>
                    <div class="form__group">
                        <input type="email" class="form__input" name="email" id="email" placeholder="Email*" required>
                        <label for="email" class="form__label">Email*</label>
                    </div>
                    <div class="form__group">
                        <input type="text" class="form__input" name="company" id="company" placeholder="Company">
                        <label for="company" class="form__label">Company</label>
                    </div>
                    <div class="form__group">
                        <input type="tel" class="form__input" name="phone" id="phone" placeholder="Contact Number">
                        <label for="phone" class="form__label">Contact Number</label>
                    </div>
                    <div class="form__group form__group--last">
                        <textarea name="message" class="form__input" id="message">Hello, I am interested in learning more</textarea>
                        <label for="message" class="form__label form__label--textarea">Message</label>
                    </div>
                    <button class="form__submit">Submit</button>
                </form>
            </div>
            <div class="popup__content popup__content--right">
                <h3>Come Direct</h2>
                <a class="popup__content__contact popup__content__contact--tel" href="tel:01639620240">
                    <i class="fas fa-mobile-alt"></i>
                    <p>01639 620 240</p>
                </a>
                <a class="popup__content__contact popup__content__contact--email" href="mailto:info@somodular.co.uk">
                    <i class="fas fa-envelope"></i>
                    <p>info@somodular.co.uk</p>
                </a>
                <a class="popup__content__contact popup__content__contact--address" target="_blank" href="https://goo.gl/maps/EnJKbsN9RjT2">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Sevenoaks Modular Limited</p>
                    <p class='hide'>Unit 2</p>
                    <p class='hide'>Milland Road Industrial Estate</p>
                    <p class='hide'>Neath</p>
                    <p>SA11 1NJ</p>
                </a>
            </div>
        </div>
        <div class="popup__close">&times;</div>
    </div>
</div>