<div class="loading">
    <div class="loading__title">Welcome to <span class="loading__title--nurtured">Nurtured</span><span class="loading__title--landscapes">Landscapes</span></div>
    <div class="loading__message">Website loading...</div>
    <div class="loading__icon">
        <div id="loading__icon__img1" class="loading__img"></div>
        <div id="loading__icon__img2" class="loading__img"></div>
        <div id="loading__icon__img3" class="loading__img"></div>
        <div id="loading__icon__img4" class="loading__img"></div>
        <div id="loading__icon__img5" class="loading__img"></div>
    </div>
</div>