    <div class="navigation">
        <div class="navigation__container">
            <a href="/" class="navigation__logo">
                <img class="navigation__logo__image" src="/resources/img/logo/logo-side-middle.svg" alt="logo">
            </a>
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
            </label>
            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a class="navigation__link" href="/products/">Products</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="/aboutus/">About Us</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="/benefits/">Benefits</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="/sustainability/">Sustainability</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="/case-studies/">Case Studies</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="/jobs/">Jobs</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="/news/">News</a></li>
                    <li class="navigation__item">
                        <a class="btn btn--primary" href="tel:+441639620240">
                            <span class="btn__text">01639 620 240</span><span class="btn__icon"><i class="fas fa-mobile-alt"></i></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
