<div class="warnings">
    <div class="ie hide">
        You are using an <strong>outdated</strong> browser. Please
        <a target="blank" href="http://browsehappy.com/">upgrade your browser</a>
        to improve your experience.
        <div>
            <div class="warnings__btn warnings__btn--good">OK, thanks</div>
        </div>
    </div>
    <div class="cookie hide">
        <p><strong>Our site uses cookies</strong></p>
        <p>We use cookies to ensure you get the best experience. Our full <a href="/policies/cookie-policy">Cookie Policy</a> is available for you, do you accept our policy?</p>
        <div>
            <div class="warnings__btn warnings__btn--good">Yes</div>
            <div class="warnings__btn warnings__btn--bad">No</div>
        </div>
    </div>
</div>