.form {
    &__group {
        position: relative;
        margin-bottom: 3rem;
        &--last {
            margin-bottom: 1rem;
        }

        &.website {
            display: none;
        }
    }

    &__input {
        font-family: inherit;
        color: inherit;
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
        padding-top: 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, 0.9);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all 0.3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 3px solid $color-primary;

            &:invalid {
                border-bottom: 3px solid $color-secondary;
            }
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark;
        }
    }

    &__input:placeholder-shown + &__label:not(&__label--textarea) {
        opacity: 0;
        visibility: hidden;
        padding: 1rem 1.5rem;
        padding-top: 2rem;
    }

    &__label {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.2rem;
        font-weight: 700;
        display: block;
        color: rgba($color-black, 0.6);
        transition: all 0.3s;
        z-index: 1000;
        padding-left: 1.5rem;
        padding-top: 0.1rem;
    }

    &__submit {
        float: right;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 500;
        text-decoration: none;
        padding: 1rem 2rem;
        border-radius: 1rem;
        transition: all 0.2s;
        color: $color-grey-dark;
        border: 1px solid rgba($color-grey-dark, 0.5);

        &:hover {
            color: $color-white;
            background-color: $color-primary-dark;
        }

        &.sent {
            background-color: $color-tertiary;
        }
    }

    @include respond('ipad') {
        &__group:not(:last-child) {
            margin-bottom: 1rem;
        }
        &__submit {
            right: 1rem;
            margin-bottom: 1rem;
        }
    }
}
