<div class="colourfulSwitch">
    <input type="checkbox" class="colourfulSwitch__checkbox" id="colourfulSwitch-cb" />
    <label class="colourfulSwitch__label" for="colourfulSwitch-cb">
        <span class="colourfulSwitch__bg"></span>
        <span class="colourfulSwitch__dot"></span>
        <span class="colourfulSwitch__on">
            <span class="colourfulSwitch__on__inner"></span>
        </span>
        <span class="colourfulSwitch__off"></span>
    </label>
</div>